@use "./mixins/button-mixin" as button_mixin;

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    font-size: 24px;
    font-weight: bolder;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(45deg, rgba(76,0,162,1) 0%, rgba(97,8,98,1) 50%, rgba(184,0,31,1) 100%);
}

h1 {
    font-size: 1em;
    max-height: 1.2em;
    overflow: hidden;
}

h2 {
    font-size: 0.8em;
}

h3 {
    font-size: 0.7em;
    color: rgba(245, 245, 220, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    gap: 2em;
    width: 100%;
    & * {
        color: rgb(115, 36, 175);
    }
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form__buttons {
    align-self: self-end;
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
}

.wrapper {
    width: 500px;
    min-height: 50px;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: beige;
    gap: 0.5em;
}

.counter-clear-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.button--clear {
    background-color: rgb(115, 36, 175);
    border-radius: 0.5em;
    padding: 0.5em;
}

.button--clear:active {
    background-color: rgb(105, 31, 124);
}

.button--add {
    width: 100%;
    height: 50px;
    background-color: rgb(115, 36, 175);
    border-radius: 0.5em;
}

.button--add:active {
    background-color: rgb(105, 31, 124);
}

.task-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.task {
    height: 125px;
    border: 1px solid black;
    background-color: rgba(62, 13, 108, 0.682);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.task__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task__buttons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.task__buttons--edit {
    @include button_mixin.button(1.5em, 1.5em);
}

.task__buttons--delete {
    @include button_mixin.button(1.5em, 1.5em);
}

.font-color-inverse {
    color: rgb(115, 36, 175);
}

.hidden {
    display: none;
}